<h1>Basic form</h1>

<form>
  <div class="mb-3">
    <label class="form-label">Name</label>
    <input type="name" class="form-control" [formControl]="name">
    <div class="mb-3">
      <label  class="form-label">Password</label>
      <input type="password" class="form-control" [formControl]="password" >
    </div>
    <button (click)="displayValue()" type="button"  class="btn btn-primary">Submit</button>
    <button (click)="setValue()" type="button"  class="btn btn-primary" style="margin-left: 30px;">Set Value</button>
  </div>
</form>

<h1>{{name.value}}</h1>
<h1>{{password.value}}</h1>


<hr>


<h1>Form Grouping</h1>

<form [formGroup]="profileForm" (ngSubmit)="onsubmit()">
  <div class="mb-3">
    <label class="form-label">First Name</label>
    <input type="firstname" class="form-control" formControlName ="firstname">
    <div class="mb-3">
      <label  class="form-label">Last Name</label>
      <input type="lastname" class="form-control" formControlName="lastname" >
    </div>
    <div class="mb-3">
      <label  class="form-label">Email</label>
      <input type="email" class="form-control" formControlName="email">
    </div>
    <button class="btn btn-primary">Submit</button>
    <!-- <button (click)="setValue()" type="button"  class="btn btn-primary" style="margin-left: 30px;">Set Value</button> -->
  </div>
</form>

<h1>Details of Employee</h1>
<h4>{{this.profileForm.value.firstname}}</h4>
<h4>{{this.profileForm.value.lastname}}</h4>
<h4>{{this.profileForm.value.email}}</h4>
<hr>

<app-validation-form></app-validation-form>

<app-template-driven></app-template-driven>

<div style="margin-bottom: 200px;"></div>